/*
 * Copyright (c) 2021 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {
        keymap {
                compatible = "zmk,keymap";

                default_layer {
                        bindings = <
           &kp ESC     &kp N1 &kp N2 &kp N3 &kp N4 &kp N5                       &kp N6 &kp N7  &kp N8   &kp N9  &kp N0   &kp BSPC
  &kp LWIN &kp CAPS    &kp Q  &kp W  &kp E  &kp R  &kp T                        &kp Y  &kp U   &kp I    &kp O   &kp P    &kp LBKT      &mt RWIN RET
           &kp K_CMENU &kp A  &kp S  &kp D  &kp F  &kp G                        &kp H  &kp J   &kp K    &kp L   &kp SCLN &mt RSFT SQT
           &kp LCTL    &kp Z  &kp X  &kp C  &kp V  &kp B                        &kp N  &kp M   &kp CMMA &kp DOT &kp FSLH &mt RCTL BSLH
                                           &kp SPC &kp LSFT  &kp LALT  &kp BSLH &mo 1  &mt MINUS EQUAL
                                   >;
                };
                lower_layer {
                       bindings = <
          &kp GRAVE &kp F1 &kp F2   &kp F3   &kp F4    &kp F5      &kp F6       &kp F7    &kp F8   &kp F9    &kp F10         &kp EQUAL
 &kp F11  &kp TAB   &bt BT_CLR   &kp HOME &reset   &none     &none       &kp C_VOL_UP &kp PG_UP &reset   &kp HOME  &kp INS    &kp DEL       &kp F12
          &kp LSFT  &bt BT_NXT   &kp LEFT &kp UP   &kp RIGHT &none       &kp LEFT     &kp DOWN  &kp UP   &kp RIGHT &kp PSCRN  &mt RSFT SLCK
          &kp LCTL  &bt BT_SEL 0 &kp END  &kp DOWN &none     &none       &kp C_VOL_DN &kp PG_DN &kp DOWN &kp END   &bt BT_CLR &kp RCTL
                                         &trans &trans &trans      &kp RWIN &trans &kp EQUAL
                                  >;
               };
        };
};
